# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/

.svn
*.to
*.ho
*.o
*.exe
*.log
.cproject
.project
build
*~
.project
.cproject
sth.patch
ovp_*.data
*.cpio
zImage
zImage.bin
.cproject
#*.sh why ignore shell scripts?
*.to
*.o
*.ho
.svn
qemu
guests/dtest/test.cfg

#LaTeX-related files
*.aux
#*.log is already ignored
*.synctex.gz
*.pdf
*.dvi
*.bbl
*.blg

#CMake-related files
cmake_install.cmake
CMakeCache.txt
.txt
CMakeFiles
