
# configuration file for the Linux software

# list of the guest output minus the ELF or BIN extension
# Nothing todo yet, copied binaries manually

#file:virtualaddress:size:offset
GUESTS += ../guests/linux/build/zImage:0xC0000000:100:0x10000

USER_DEFS += LINUX


